<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mobiblaize Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <lib-custom-card title="My Coold Library Card" content="There will be dragons"></lib-custom-card>
  <ion-button expand="full" (click)="getData()">Load Data</ion-button>
  <ion-button expand="full" routerLink="/custom">Open Library Page</ion-button>

  <ion-card *ngIf="user">
    <img [src]="user.picture.large">
    <ion-card-content>
      {{ user.email }}
    </ion-card-content>
  </ion-card>
</ion-content>
